.c-grey-box { background-color: #f6f6f6;
  h2 span { border:none; display:inline;}
}

.c-comment {
    input{ width: 85%; padding: 11px 20px; float: left; border:0; margin-top:10px;  }
 }
    
.c-comment-listing { text-align: left;
    ul{ margin:0; padding:0; margin-top:65px;
        li { list-style:none; padding:30px 0; border-bottom:solid 1px #cacaca; display:flex; width:100%; align-items:flex-end;
            img { width:140px; float:left; }
                 .details {  width:calc( 100% - 140px ); float:left; padding-left:25px; font-size:18px;
                   p{ margin-bottom:0; margin-top:15px;
                  span { padding-left:20px;font-size:16px;position:relative;
                      
                      &.copy-date { font-size:13px;
                           
                          
                      }
                      &.copy-head { padding-left:0; 
                        &:after{  position:absolute; content:""; right:-10px; top:0; height:100%; width:1px; background-color: #cbcbcb;} 
                      }
                       
                       }
                       
                 }
                   b{ font-weight:bold;}
                 }
               
            
        
        }
    }
    
}


@media only screen and (max-width:440px) {
    .c-comment input { width:100%;}
   
    
}

