.c-customer-review {
    
    ul{ margin:0; padding:0;
        li{ display:inline-block; margin-bottom:50px; width:calc(50% - 5px); padding: 0 20px 0 0; vertical-align: top;
        
            @include breakpoint(767) { 
      width:100%;
    } 
        
        }
    }
    .user-box {
    
    .user-pic { display:flex; align-items:center; justify-content:flex-start;
        img { margin-right:20px;}
        }
        .c-starbox { margin:15px 0 15px 0}
        p{ line-height:24px; margin-bottom:5px;}
    }
    
    
}
.user-listing {
    
    .global-button-white { margin-right: 10px; }
    
    .pic-box-list{
        ul{ margin:0; padding:0; margin-top:5px;
            li{ list-style:none; display:inline-flex; width:150px; height:120px; background-color:#b7b7b7; justify-content: center; margin:0 10px 0 0; padding:0;
            
              @include breakpoint(767) { 
               width:100px; height:70px;
    } 
            }
        
        }
        
    }
  
    
}

.c-all-reviews { 
    h6{ font-family: "Open Sans";  font-size: 14px; color: #444; font-weight: 600; line-height: 24px; margin-top:30px;
        &:first-child{ margin-top:0; }
    
    }
    
    
    .plus-box { display:inline-flex; align-items:center; justify-content: center; width:170px; height:120px; border:dashed 2px #b7b7b7; margin:10px 0 10px 0; color:$purple; font-size:35px; position:relative;
    
                      @include breakpoint(767) { 
      width:100px; height:70px;
    } 
        
    .label-info { background-color: transparent;}
    .label { font-family: 'OpenSans'; font-size:14px; color:#444444; }
    .plus-sign { position:absolute;}
    
    }
    
    textarea{ border:none;  height:100px; padding:10px; margin:10px 0 10px 0; display:block; width:70%;
    
         
            @include breakpoint(767) { 
      width:100%;
    } 
    
    }
}
.uploadfile { position:absolute; z-index:2; top:50%; transform:translateX(-50%); transform:translateY(-50%); left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;  padding:20px 0; width:170px;}

.c-all-reviews-list { display:none;}


