.h2 > span {
    border-bottom: none!important;
    padding-bottom: 0px!important;
    font-family: "Abhaya Libre SemiBold";
}
 
.new-search-view{
    padding-right: 0px!important;
}
 
.or-form {
    margin-top: 40px!important;
}
 
#inspirationFilters .checkbox label{
    text-transform: capitalize!important;
}
 
#inspirationFilters .accrdn-title{
    text-transform: capitalize!important;
}
 
#inspirationFilters1 .checkbox label{
    text-transform: capitalize!important;
}
 
#inspirationFilters1 .accrdn-title{
    text-transform: capitalize!important;
}
 
#filters1 .accrdn-title-inspiration{
    text-transform: capitalize!important;
}
 
#filters1 .checkbox label{
    text-transform: capitalize!important;
}
 
#filters .accrdn-title-inspiration{
    text-transform: capitalize!important;
}
 
#filters .checkbox label{
    text-transform: capitalize!important;
}
 
#filters1 .accrdn-title{
    text-transform: capitalize!important;
}
 
#filters .accrdn-title{
    text-transform: capitalize!important;
}


.bookAppointmentPLP .form-label{
    text-transform: capitalize!important;
}

.bookAppointmentPLP .formWrapPLP .colWrapPLP .btn-style3{
    text-transform: capitalize!important;
}

.schedular-form span {
    text-transform: capitalize!important;
    white-space: nowrap;
}

.schedular-form select {
    text-transform: capitalize!important;
    white-space: nowrap;
}

.submit-bt{
    text-transform: capitalize!important;
}

.sleek-designhome input{
    text-transform: capitalize!important;
}

.sleek-designhome .custom-sleek-designhome-title{
    text-transform: capitalize!important;
}

.custom-thankyou .sleek-btn{
    text-transform: capitalize!important;
}

.ecom-form label{
    text-transform: capitalize!important;
}

.ecom-form input{
    text-transform: capitalize!important;
}

.guestuser_register_btn{
    text-transform: capitalize!important;
}

.btn-proceed{
    text-transform: capitalize!important;
}

#showMoreDecal .btn-style2{
    text-transform: capitalize!important;
}

#productPincode{
    text-transform: capitalize!important;
}

.checkout-cart{
    text-transform: capitalize!important;
}

.custom-rate{
    text-transform: capitalize!important;
}

.submit-product-review{
    text-transform: capitalize!important;
}

.dwnld-btn{
    text-transform: capitalize!important;
    margin-top: 8px;
}

.campus-contianer .readMoreLink{
    text-transform: capitalize!important;
}

.warranty-step-two, .warranty-step-three, .warranty-step-four, .warranty-step-five{
    text-transform: capitalize!important;
}

.register-warranty .register-field{
    text-transform: capitalize!important;
}

#analystpresentation-placeholder .btn-style2{
    text-transform: capitalize!important;
}

#emplyrs h2 > span{
    text-transform: capitalize!important;
}

#cntrtrs h2 > span{
    text-transform: capitalize!important;
}

#testimonials h2 > span{
    text-transform: capitalize!important;
}

.guideLink{
    text-transform: capitalize!important;
}





